<div class="div-view">
    <ul class="ul-nav">
        <li class="li-nav"><a class="li-a-nav" href="/"><img class="logo" src="/img/zero.png" alt="Logo"></a></li>
        <li class="li-nav"><a class="li-a-nav" href="/">Home</a></li>
        <li class="li-nav"><a class="li-a-nav" href="/about">About</a></li>
        <li class="li-nav"><a class="li-a-nav" href="/proposal">Proposal</a></li>
        <li class="li-nav"><a class="li-a-nav" href="https://ryan-corrigan-node-portfolio.azurewebsites.net/" target="_blank">Ryan's Portfolio</a></li>
    </ul>
</div>