<!doctype html>
<html lang="en">
  <head>
    <title>Bincon</title>
  </head>
  <body>
    {{> navigation}}
    {{{body}}}

    <noscript>
      Your browser doesn't support Javascript
    </noscript>
  </body>

</html>