 <div class="div-view">
        <div>
            <link rel="stylesheet" href="/styling/index.css"/>
        </div>

        <div class = 'center'>
            <h1>About BinCon</h1>
        </div>

        <div>
            <p id = 'about' class = 'center'>
                This page is made to allow you to have an easy way to convert decimal numbers to binary numbers.
                You simply need to a put a decimal number into the entry box and hit the convert button and as simple
                as that your decimal number will be converted to binary. In future versions there will also be a table to display
                the previous ten entries into this website. Thank you for using my website.
            </p>
            <br>
            <p id = 'about'>
                Sincerely, <br>
                Ryan
            </p>
        </div>
        
    </div>