<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="index.css"/>
    </head>
    <body>
        <button onclick="convert()" id="butt">Convert</button>
        <script>
            function convert() {
            // program to convert decimal to binary

            // take input
            const number = parseInt(prompt('Enter a decimal number: '));

            // convert to binary
            const result = number.toString(2);

            console.log('Binary:' + ' ' + result);
            }
        </script>
    </body>
</html>